# Cache Directory
__pycache__/
.pytest_cache/

# IDE Settings
.idea/
.pycharm/
.vscode/

# Model Files & Datas

models/*
*.h5
datas/*

# Test Images
tests/resources/test_images/*

# Log Directory
logs/